@font-face {
  font-family: "Quicksand-Regular", sans-serif;

  src: url("../fonts/Quicksand-Regular.woff") format("woff"), 
    url("../fonts/Quicksand-Regular.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}