@import 'vars';
@import 'global';
@import 'fonts';
.header__top{
     background-color: $bg;

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
   
}
    }
.header__profile{
    display: flex;
    align-items: center;
}
.portfolio{
    margin-right: 47px;
    a{
        margin-right: 32px;
        
    }
}
.header__text{
    margin-left: auto;
    margin-right: 54px;
    a{
       padding: 12px 19px;
        background-color: $blue;
        border-radius: 30px;
    }
}
.name{
    margin-left: 23px;
    .header__cost{
        display: block;
        color: $blue;
    }
}
.header__menu-inner{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    ul{
        display: flex;
        text-align: center;
    }
    li{
        display: inline-block;
        &+li{
            margin-left: 26px;
        }
    }
    a{
        text-transform: uppercase;
    }
}
.search__inner-form{
    position: relative;
    max-width: 360px;
    width: 100%;
    input{
        display: block;
        width: 100%;
        border-radius: 20px;
        border: none;
        border: 1px solid rgb(217, 223, 229);
        height: 44px;
        font-size: 15px;
        line-height: 30px;
        padding-left: 26px; 
        outline: none;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
      
        border: none;
        height: 44px;
        background-color: $blue;
        border-radius: 30px;
        width: 70px;
    }
}







