@import 'vars'; 
@import 'global';
@import 'fonts';
.header__top{
     background-color: $bg;

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
   
}
    }
.header__profile{
    display: flex;
    align-items: center;
}
.portfolio{
    margin-right: 47px;
    a{
        margin-right: 32px;
        
    }
}
.header__text{
    margin-left: auto;
    margin-right: 54px;
    a{
       padding: 12px 19px;
        background-color: $blue;
        border-radius: 30px;
    }
}
.name{
    margin-left: 23px;
    .header__cost{
        display: block;
        color: $blue;
    }
}

.header__menu-inner{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    ul{
        display: flex;
        text-align: center;
    }
    li{
        display: inline-block;
        &+li{
            margin-left: 26px;
        }
    }
    a{
        text-transform: uppercase;
    }
}
.search__inner-form{
    position: relative;
    max-width: 360px;
    width: 100%;
    border:none;
    input{
        width: 100%;
        height: 46px;
        border-radius: 30px;
        border:1px solid #d9dfe5;
        outline:none;
        padding-left: 20px;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
        height: 46px;
        width: 72px;
        border-radius: 30px;
        background-color: $blue2;
        border:none;
    }
}
.text__content{
    min-height: 730px;
    position: relative;
}
.text__inner-form{
    position: relative;
    max-width: 360px;
    width: 100%;
    input{
        display: block;
        width: 100%;
        border-radius: 20px;
        border: none;
        border: 1px solid rgb(217, 223, 229);
        height: 44px;
        font-size: 15px;
        line-height: 30px;
        padding-left: 26px; 
        outline: none;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
      
        border: none;
        height: 44px;
        background-color: $blue;
        border-radius: 30px;
        width: 70px;
    }
}
.text__content{
    min-height: 727px;
    background-color: $blue2;
    margin-bottom: 100px;
  padding: 185px 0 0;
    .text__inner{
        
        margin: 0 auto;
        &-title{
            font-size: 60px;
            line-height: 70px;
            color: #fff;
            max-width: 734px;
            margin: 0 auto;
            text-align: center;
            span{
                display: block;
            }
        }
        &-text{
            font-size: 20px;
            line-height: 72px;
            max-width: 850px;
            color: #fff;
            margin: 0 auto;
            margin-bottom: 70px;
        }
    }
}
.text__link-item{
    width: 425px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 136px;
   
  
    a{
        color: #fff;
        padding: 19px 32px;
        border-radius: 35px;
        border: 1px solid #fff;
        font-size: 16px;
         transition: all .5s;
        &+a{
            margin-left: 30px;
        }
    }
    
}
.text__link-item a:hover{
    background-color: #fff;
    color: $blue;
}
.search__link-item a:hover{
    background-color: #fff;
    color: $blue;
}
.search__items{
    max-width:1140px;
     opacity: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    height: 136px;
    position: absolute;
    width: 100%;
    border-radius: 4px;
}

.search__item{
        position: relative;
        width: 100%;
        height: 100%;
    .search__item-inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    }
.search__btn-item button{
        padding: 20px 65px;
        background-color: $blue2;
        color: #fff;
        border-radius: 4px;
        border: none;
        width: 223px;
    position: relative;
    z-index: 3;
    
    
}

.search__window{
    max-width: 807px;
    width: 100%;
    z-index: 3;
    margin-right: 32px;
    
    .categories__btn{
        position: absolute;
        font-size: 16px;
        line-height: 42px;
        top: 0;
        right: 0;
        border:1px solid rgb(220, 220, 220);
        background-color: transparent;
        padding: 6px 74px 8px 20px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        
    }
    input{
        width: 100%;
        height: 58px;
        border-radius: 4px;
        border: 1px solid rgb(220, 220, 220);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-right: 203px;
        padding-left: 20px;
    }
    form{
        position: relative;
    }
}
.search__window form:before{
    content: "";
    position: absolute;
    background-image: url(../images/icon/arrow.png);
    width: 13px;
    height: 8px;
    right: 38px;
    top: 24px;
}
.search__item:before{
    content: "";
    position: absolute;
    max-width: 1080px;
    height: 135px;
    background-image: url(../images/shadow1.png);
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    border-radius: 4px;
    top: -40px;
    right: 25px;   
}
.search__item:after{
    content: "";
    position: absolute;
    max-width: 1120px;
    height: 135px;
    background-image: url(../images/shadow2.png);
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    border-radius: 4px;
    top: -21px;
    right: 10px;  
    margin-right: -1px;
}

.advantages{
    padding: 90px 0 120px;
    max-width: 1135px;
    margin: 0 auto;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
.advantages__item{
    padding: 40px 30px 40px;
    max-width: 360px;
    transition: all 0.5s;
    cursor: pointer;
   
}
.advantages__item:hover{
     box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.advantages__img {
    height: 125px;
    width: 117px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 44px auto 30px;
}
.advantages__box-text{
    max-width: 300px;
    text-align: center;
}
.advantages__title{
    font-size: 24px;
    color: #010101;
    padding-bottom: 27px;
}
.advantages__text{
    font-size: 16px;
    line-height: 30px;
    color: #555;
}
.weekly{
    padding: 120px 0 120px;
    background-color: #eff1f5;
}
.weekly__title{
    max-width: 1142px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.weekly__title-btn{
    height: 46px;
    width: 110px;
    border-radius: 30px;
    background-color: #7347c1;
    margin-right: 30px;
    position: relative;
}
.slick-arrow{
width: 9px;
    height: 15px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    background-color: transparent;
}
.slick-next{
    right: 50px;
    top: -120px;
}
.slick-prev{
    right: 107px;
    top: -120px;
    
}


.weekly__title-text{
    font-size: 30px;
    color: #000;
    padding: 40px 0 50px 30px;
}
.weekly__slider-img{
    min-height: 450px;
    max-width: 558px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.weekly__slider{
    display: flex !important;
    justify-content: space-between;
}
.weekly__slider-text{
    background-color: #fff;
    border-radius: 4px;
    padding: 45px 55px 0 53px;
    max-width: 586px;
    width: 100%;
    .weekly__slider-container{
        max-width: 480px;
        margin-bottom: 43px;
        line-height: 30px;
        font-size: 15px;
    }
}
.weekly__slider-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 22px;
}
weekly__title-box{
    display: flex;
}
.weekly__title-box{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}
.weekly__user-link, .weekly__wordpress-link{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.weekly__user-link-foto{
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.weekly__user-link-wordpress{
    height: 18px;
    width: 18px;
    border-radius: 50%;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}
.weekly__btn-inner{
    padding-bottom: 46px;
    border-bottom: 1px solid #ececec;
    button{
        padding: 10px 30px;
        border-radius: 30px;
        border: none;
        margin-right: 4px;
        cursor: pointer;
            
    }
}
.weekly__slider-pricebox{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .weekly__slider-money{
        display: flex;
        align-items: center;
            .weekly__price-btn{
                padding: 13px 20px;
                border-radius: 30px;
                background-color: $blue;
            }
}
    }
.weekly__slider__price{
    width: 19px;
    height: 19px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 21px;
}






























