@import 'vars'; 
@import 'global';
@import 'fonts';
.header__top{
     background-color: $bg;

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
   
}
    }
.header__profile{
    display: flex;
    align-items: center;
}
.portfolio{
    margin-right: 47px;
    a{
        margin-right: 32px;
        
    }
}
.header__text{
    margin-left: auto;
    margin-right: 54px;
    a{
       padding: 12px 19px;
        background-color: $blue;
        border-radius: 30px;
    }
}
.name{
    margin-left: 23px;
    .header__cost{
        display: block;
        color: $blue;
    }
}

.header__menu-inner{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    ul{
        display: flex;
        text-align: center;
    }
    li{
        display: inline-block;
        &+li{
            margin-left: 26px;
        }
    }
    a{
        text-transform: uppercase;
    }
}
.search__inner-form{
    position: relative;
    max-width: 360px;
    width: 100%;
    border:none;
    input{
        width: 100%;
        height: 46px;
        border-radius: 30px;
        border:1px solid #d9dfe5;
        outline:none;
        padding-left: 20px;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
        height: 46px;
        width: 72px;
        border-radius: 30px;
        background-color: $blue2;
        border:none;
    }
}
.text__content{
    min-height: 730px;
    position: relative;
}
.text__inner-form{
    position: relative;
    max-width: 360px;
    width: 100%;
    input{
        display: block;
        width: 100%;
        border-radius: 20px;
        border: none;
        border: 1px solid rgb(217, 223, 229);
        height: 44px;
        font-size: 15px;
        line-height: 30px;
        padding-left: 26px; 
        outline: none;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
      
        border: none;
        height: 44px;
        background-color: $blue;
        border-radius: 30px;
        width: 70px;
    }
}
.text__content{
    min-height: 727px;
    background-color: $blue2;
    margin-bottom: 100px;
  padding: 185px 0 0;
    .text__inner{
        
        margin: 0 auto;
        &-title{
            font-size: 60px;
            line-height: 70px;
            color: #fff;
            max-width: 734px;
            margin: 0 auto;
            text-align: center;
            span{
                display: block;
            }
        }
        &-text{
            font-size: 20px;
            line-height: 72px;
            max-width: 850px;
            color: #fff;
            margin: 0 auto;
            margin-bottom: 70px;
        }
    }
}
.text__link-item{
    width: 425px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 136px;
   
  
    a{
        color: #fff;
        padding: 19px 32px;
        border-radius: 35px;
        border: 1px solid #fff;
        font-size: 16px;
         transition: all .5s;
        &+a{
            margin-left: 30px;
        }
    }
    
}
.text__link-item a:hover{
    background-color: #fff;
    color: $blue;
}
.search__link-item a:hover{
    background-color: #fff;
    color: $blue;
}
.search__items{
    max-width:1140px;
     opacity: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    height: 136px;
    position: absolute;
    width: 100%;
    border-radius: 4px;
}

.search__item{
        position: relative;
        width: 100%;
        height: 100%;
    .search__item-inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    }
.search__btn-item button{
        padding: 20px 65px;
        background-color: $blue2;
        color: #fff;
        border-radius: 4px;
        border: none;
        width: 223px;
    position: relative;
    z-index: 3;
    
    
}

.search__window{
    max-width: 807px;
    width: 100%;
    z-index: 3;
    margin-right: 32px;
    
    .categories__btn{
        position: absolute;
        font-size: 16px;
        line-height: 42px;
        top: 0;
        right: 0;
        border:1px solid rgb(220, 220, 220);
        background-color: transparent;
        padding: 6px 74px 8px 20px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        
    }
    input{
        width: 100%;
        height: 58px;
        border-radius: 4px;
        border: 1px solid rgb(220, 220, 220);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-right: 203px;
        padding-left: 20px;
    }
    form{
        position: relative;
    }
}
.search__window form:before{
    content: "";
    position: absolute;
    background-image: url(../images/icon/arrow.png);
    width: 13px;
    height: 8px;
    right: 38px;
    top: 24px;
}
.search__item:before{
    content: "";
    position: absolute;
    max-width: 1080px;
    height: 135px;
    background-image: url(../images/shadow1.png);
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    border-radius: 4px;
    top: -40px;
    right: 25px;   
}
.search__item:after{
    content: "";
    position: absolute;
    max-width: 1120px;
    height: 135px;
    background-image: url(../images/shadow2.png);
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    border-radius: 4px;
    top: -21px;
    right: 10px;  
    margin-right: -1px;
}

.advantages{
    padding: 90px 0 120px;
    max-width: 1135px;
    margin: 0 auto;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
}
.advantages__item{
    padding: 40px 30px 40px;
    max-width: 360px;
    transition: all 0.5s;
    cursor: pointer;
   
}
.advantages__item:hover{
     box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.advantages__img {
    height: 125px;
    width: 117px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 44px auto 30px;
}
.advantages__box-text{
    max-width: 300px;
    text-align: center;
}
.advantages__title{
    font-size: 24px;
    color: #010101;
    padding-bottom: 27px;
}
.advantages__text{
    font-size: 16px;
    line-height: 30px;
    color: #555;
}
.weekly{
    padding: 120px 0 120px;
    background-color: #eff1f5;
}
.weekly__title{
    max-width: 1142px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.weekly__title-btn{
    height: 46px;
    width: 110px;
    border-radius: 30px;
    background-color: #7347c1;
    margin-right: 30px;
    position: relative;
}
.slick-arrow{
width: 9px;
    height: 15px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
}
.slick-next{
    right: 50px;
    top: -120px;
}
.slick-prev{
    right: 107px;
    top: -120px;
    
}


.weekly__title-text{
    font-size: 30px;
    color: #000;
    padding: 40px 0 50px 30px;
}
.weekly__slider-img{
    min-height: 450px;
    max-width: 558px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}
.weekly__slider{
    display: flex !important;
    justify-content: space-between;
}
.weekly__slider-text{
    background-color: #fff;
    border-radius: 4px;
    padding: 45px 55px 0 53px;
    max-width: 586px;
    width: 100%;
    .weekly__slider-container{
        max-width: 480px;
        margin-bottom: 43px;
        line-height: 30px;
        font-size: 15px;
    }
}
.weekly__slider-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 22px;
}
weekly__title-box{
    display: flex;
}
.weekly__title-box{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}
.weekly__user-link, .weekly__wordpress-link{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.weekly__user-link-foto{
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.weekly__user-link-wordpress{
    height: 18px;
    width: 18px;
    border-radius: 50%;
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}
.weekly__btn-inner{
    padding-bottom: 46px;
    border-bottom: 1px solid #ececec;
    button{
        padding: 10px 30px;
        border-radius: 30px;
        border: none;
        margin-right: 4px;
        cursor: pointer;
            
    }
}
.weekly__slider-pricebox{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .weekly__slider-money{
        display: flex;
        align-items: center;
            .weekly__price-btn{
                padding: 13px 20px;
                border-radius: 30px;
                background-color: $blue;
            }
}
    }
.weekly__slider__price{
    width: 19px;
    height: 19px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 21px;
}
//start PRODUCT
.product{
    padding: 120px 0 120px;
    background-color: #f6f7fb;
}
.product__title-box{
    max-width: 1140px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1); 
    min-height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.product__text{
    font-size: 30px;
    font-weight: 500;
    padding-left: 40px;
}
.product__dots{
    display: flex;
    &-btn{
        padding-left: 24px;
        padding-right: 40px;
        cursor: pointer;
    }

    .title-btn{
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: #a3b1c4;
        margin-bottom: 4px;
        
            
    }
}
.product__inner-btn{
    max-width: 1140px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1); 
    margin: 0 auto 50px;
    min-height: 93px;
    padding-left: 32px;
    display: flex;
    align-items: center;
    button{
        padding: 5px 20px;
        border-radius: 30px;
        border: none;
        font-size: 15px;
        line-height: 30px;
        cursor: pointer;
        outline: none;
        &+button{
            margin-left: 9px;
        }
        
    }
    
    
}
.product__inner-btn{
    .mixitup-control-active{
        background-color: #0674ec;
        color: #fff;
    }
}
.product__item-box{
    max-width: 361px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
     border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 32px;
    .product__img{
        min-height: 230px;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 23px;
        cursor: pointer;
      
        
        &-link{
            padding: 16px 36px;
            border:1px solid #fff;
            border-radius: 30px;
            font-size: 15px;
            color: #fff;
            margin: 0 auto;
            transition: all .5s;
            display: none;
            
            
        }

    }
    
        
        
    
}

.product__item:hover{
    .product__img-link{
        display: block;
//         background-color: #fff;
//            color: $blue;
            
            transition: all .7s ease;
}
    
}
.product__info{
    padding: 30px 37px 0 40px;
    min-height: 260px;
    
    &-name{
        font-size: 20px;
        color: #000;
        margin-bottom: 20px;
    }
}
.product__info-theme-format, .product__info-format, .product__info-theme{
    display: flex;
    align-items: center;
}
.product__info-theme-format{
    margin-bottom: 30px;
}
.product__theme-img-theme{
    width: 28px;
    height: 28px;
  
}
.info-link{
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product__link-img-format{
    width: 18px;
    height: 18px;
    
}
.product__info-theme{
    span{
        margin-left: 5px;
        font-size: 15px;
        line-height: 30px;
        margin-right: 20px;
    }
    
}
.product__info-format{
    span{
        margin-left: 5px;
    }
}
.product__description-text{
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    padding-bottom: 5px;
    min-height: 109px;
}
.product__download-price{
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 30px;
    
    .product__price-box{
    display: flex;
        align-items: center;
        .product__price{
            padding: 8px 18px;
            border-radius: 30px;
            background-color: #e6f1fd;
            color: #4295f1;
            margin-right: 14px;
        }
    }
}
.product__likes-img{
    color: #6f7d8d;
    display: flex;
    align-items: center;
    
}
.product__likes{
    width: 16px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
    }
.product__download-img{
    font-size: 15px;
    line-height: 30px;
    color: #4295f1;
}
.product__download{
       width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
}
.product__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__bootom-btn{
    text-align: center;
    button{
    margin-top: 30px;
    font-size: 16px;
    padding: 23px 40px;
    background-color: #0674ec;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    color: #fff;
    outline: none;
    
}
}
//   -----END product

//Start Followers

.followers__item-box{
    max-width: 361px;
    width: 100%;
    transition: all .7s ease;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
     border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 32px;
    .followers__img{
        min-height: 230px;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 23px;
        cursor: pointer;
      
        
        &-link{
            padding: 16px 36px;
            border:1px solid #fff;
            border-radius: 30px;
            font-size: 15px;
            color: #fff;
            margin: 0 auto;
            transition: all .5s;
            display: none;
            
            
        }
        &-link:hover{
            background-color: #fff;
            color: $blue;
            display: block;
            transition: all .7s ease;
          
        }
    }
    .followers__img:hover .followers__img-link{
        display: block;
        
        
    }
}
.followers__info{
    padding: 30px 37px 0 40px;
    min-height: 260px;
    
    &-name{
        font-size: 20px;
        color: #000;
        margin-bottom: 20px;
    }
}
.followers__info-theme-format, .followers__info-format, .followers__info-theme{
    display: flex;
    align-items: center;
}
.followers__info-theme-format{
    margin-bottom: 30px;
}
.followers__theme-img-theme{
    width: 28px;
    height: 28px;
  
}
.info-link{
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.followers__link-img-format{
    width: 18px;
    height: 18px;
    
}
.followers__info-theme{
    span{
        margin-left: 5px;
        font-size: 15px;
        line-height: 30px;
        margin-right: 20px;
    }
    
}
.followers__info-format{
    span{
        margin-left: 5px;
    }
}
.followers__description-text{
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    padding-bottom: 5px;
    min-height: 109px;
}
.followers__download-price{
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 30px;
    
    .followers__price-box{
    display: flex;
        align-items: center;
        .followers__price{
            padding: 8px 18px;
            border-radius: 30px;
            background-color: #e6f1fd;
            color: #4295f1;
            margin-right: 14px;
        }
    }
}
.followers__likes-img{
    color: #6f7d8d;
    display: flex;
    align-items: center;
    
}
.followers__likes{
    width: 16px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
    }
.followers__download-img{
    font-size: 15px;
    line-height: 30px;
    color: #4295f1;
}
.followers__download{
       width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 5px;
}
.followers__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.followers__bootom-btn{
    text-align: center;
    button{
    margin-top: 30px;
    font-size: 16px;
    padding: 23px 40px;
    background-color: #0674ec;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    color: #fff;
    outline: none;
    
}
}

.followers{
    padding: 115px 0 126px;
    background-color: #eff1f5;
}
.followers__button{
  height: 46px;
    width: 110px;
    border-radius: 30px;
    background-color: #7347c1;
    margin-right: 30px;
}
.followers__box{
    display: flex;
    justify-content: space-between
}
.followers__title-inner{
    min-height: 112px;
    max-width: 1140px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 54px;
    .followers__title{
        font-size: 30px;
        margin-left: 35px;
    }
}
.raiting{
    background-color: #212225;
    padding: 97px 0 100px;
}
.raiting__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.raiting__item{
    max-width: 130px;
    min-height: 165px;
    text-align: center;
    &-number{
        font-size: 36px;
        color: #feb71d;
        margin-bottom: 23px;
    }
    &-info{
        color: #fff;
    }
    .raiting__case{
    width: 48px;
    height: 41px;   
     }
    .raiting__cloud{
    width: 48px;
    height: 29px;  
    }
    .raiting__smile{
     width: 46px;
    height: 47px;   
    }
    .raiting__users{
    width: 48px;
    height: 37px;   
    }
}

.raiting__for-sale{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin:0 auto 50px;
}
//END RAITING

//choose start

.choose{
    padding: 116px 0 116px;
    background-color: #fff;
}
.choose__title, .title{
    font-size: 36px;
    color: #000;
    text-align: center;
    margin-bottom: 35px;
    span{
        color: $blue;
        
    }
    &-text, .text{
        max-width: 681px;
        font-size: 16px;
        color: #555555;
        margin-bottom: 56px;
        text-align: center;
        margin: 0 auto 60px;
        
    }
}
.choose__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.choose__item{
    max-width: 361px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    padding: 54px 30px 60px 30px;
    margin-bottom: 20px;
    &-img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 48px;
        width: 60px;
        margin: 0 auto 48px;
    }
    &-title{
        font-size: 24px;
        margin-bottom: 30px;
        color: #000;
        text-align: center;
        padding: 0 10px;
    }
    &-text{
        text-align: center;
        color: #555555;
        font-size: 16px;
        line-height: 30px;
    }
}
.choose__item::after{
    content: "01";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(images/choose/number.png);
    font-size: 48px;
    color: #5c87f8;
    opacity: 0.2;
    margin-left: 20px;
    margin-top: 23px;
}
.choose__item.two::after{
content: "02";
}
.choose__item.thre::after{
content: "03";
}
.choose__item.four::after{
content: "04";
}
.choose__item.five::after{
content: "05";
}
.choose__item.six::after{
content: "06";
}

//chose -END

//SELL-START
.sell{
   
}
.sell__inner{
    display: flex;
    justify-content: space-between;
}
.sell__item-box{
    max-width: 580px;
}
.sell__item{
    background-color: #0674ec;
    text-align: center;
    width: 50%;
    padding: 95px 0 95px;
    &.purple{
        background-color: #7347c1;
    }
    &-img{
        width: 120px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 47px;
        &.purple{
            width: 100px;
            height: 100px;
        }
    }
    &-title{
        color: #ffff;
        font-size: 36px;
        margin-bottom: 22px;
    }
    &-text{
        color: #fff;
    }
    &-link{
        padding: 21px 26px;
        border-radius: 30px;
        background-color: #fff;
        color: $blue;
        margin-top: 45px;
        cursor: pointer;
        &.purple{
            color: #7347c1; 
        }
    }
}
//sell END

//clients START

.clients{
    padding: 118px 0;
    background-color: #fff;
}
.clients__item-inner{
    display: flex;
    justify-content: space-between
}
.clients__item{
    max-width: 555px;
    padding: 50px 43px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border-left: 1px solid $blue;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &-title{
        display: flex;
        justify-content: space-between;
    }
    &-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        margin-right: 20px;
    }
    &-name{
        margin-bottom: 14px;
        font-size: 20px;
        color: #000;
    }
    &-content{
        line-height: 30px;
        color: #555555;
    }
}
.clients__item-info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.icon-message-circle{
    font-size: 60px;
    color: #e8e8e8;
}
.clients__btn{
    text-align: center;
}
.clients-button{
    margin-top: 61px;
    font-size: 16px;
    padding: 23px 40px;
    background-color: #0674ec;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    display: inline-block;
    
}


//clients END

//news
.news{
    padding: 114px 0 124px;
    background-color: #eff1f5;
}
.news__item{
    max-width: 366px;
    border-radius: 4px;
    background-color: #fff;
    &-img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 231px;  
    }
    &-content{
        padding: 30px 30px 30px 30px;
        border-bottom: 1px solid #ececec;
    }
    &-title{
        font-size: 22px;
        color: #000;
        margin-bottom: 29px;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        color: #555555;
    }
}
.news__item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
}
.news__item-date, .news__item-views{
    height: 40px;
    width: 152px;
    align-items: center;
    display: flex;
    color: #999999;
    font-size: 15px;
    img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 15px;
        width: 16px;
        margin-right: 8px;
    }
}
.news__item-mesages{
    padding-left: 30px;
}
.news__item-views{
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #ececec;
    position: relative;
    &::before{
       content: "\e900";
        position: absolute;
        font-family: 'icomoon';
        left: 7px;
    }
    &::after{
        content: "\f06e";
        position: absolute;
        font-family: 'icomoon';
        right: 31px;
        
    }
}
.news__items-inner{
    display: flex;
    justify-content: space-around;
}

//news END
//support START

.support{ 
    &__inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.support__item{
    padding: 66px 0 66px;
    text-align: center;
    width: 50%;
    
    &-img{
        width: 150px;
        height: 120px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto 27px;
    }
}
.support__inner{
    .support__item:last-child{
    border-left: 1px solid #e8eaf3;
        
        }
}
.support__item-title{
    font-size: 24px;
}
.purple{
    span{
    color: #7347c1
    }
}

//support END

.join{
    padding: 111px 0 111px;
    text-align: center;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    &__title{
        font-size: 36px;
        margin-bottom: 30px;
    }
}
.join__link{
    margin-top: 50px;
    padding: 20px 44px;
    background-color: #fff;
    color: $blue;
    border-radius: 30px;
}
.footer{
    padding-top: 108px;
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 111px;
    }
    background-color: #262b30;
    color: #ababab;
    font-size: 15px;
    a{
        color: #ababab;
    }
    &__item{
        max-width: 266px;
    }
    &__item.footer__about{
        max-width: 132px;
        
    }
    .header__img{
        margin-bottom: 21px;
    }
    

}
.footer__copy-box{
    text-align: center;
    background-color: #192027;
    color: #999999;
    padding: 40px 0 40px;
    span{
        color: #fff;
    }
}
.footer__title{
    color: #fff;
    padding-top: 20px;
    font-size: 18px;
    margin-bottom: 37px;
}
.footer__text{
    line-height: 30px;
    margin-bottom: 22px;
}
.footer__phone, .footer__mail, .footer__adress{
    padding-left: 30px;
    position: relative;
    line-height: 30px;
    &::before{
        position: absolute;
        content: "\f095";
        left: 0;
        font-family: 'icomoon';
    }
}
.footer__adress::before{
    content: "\f041";
}
.footer__mail::before{
    content: "\e900";
}
.footer__list li+li{
    padding-top: 20px;
}
.footer__newsletter-text{
    line-height: 30px;
     margin-bottom: 40px;
}
.footer__item.footer__social{
    max-width: 360px;
    width: 100%;
   
}
.footer__form{
    position: relative;
    margin-bottom: 60px;
    input{
        height: 50px;
        width: 100%;
        border-radius: 30px;
        border: none;
        padding-left: 30px;
        padding-right: 113px;
    }
    button{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        background-color: $blue;
        color: #fff;
        border-radius: 30px;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}
.footer__social ul{
    display: flex;
    justify-content: space-between;
        a{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #395799;
        display: flex;
        justify-content:center;
        align-items: center;
            img{
                margin-top: 3px;
            }
        }
    .link-twiter {
        background-color: #19b2f5;
    }
    .link-gmail {
        background-color: #f05b44;
    }
    .link-pintrest {
        background-color: #9c0c1c;
    }
    .link-linkidin {
        background-color: #0da6be;
    }
    .link-item2 {
        background-color: #ea4c89;
    }
    

}















































